[submodule "frontend"]
	path = frontend
	url = https://github.com/saviosoaresUFC/MundoAnimal-Front.git
[submodule "backend"]
	path = backend
	url = https://github.com/saviosoaresUFC/MundoAnimal-Back.git
